
html { 
 /*  margin:0;
  padding:0;
  background: url(image/bg.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari 
  background-size: cover;  version standardisée */ 
}

img.fullCover
{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

img.fullCoverTop
{
	min-width:100%;
}

#div_imgCropTop
{
	height:15vh;
	width:100%;
	overflow:hidden;
}




 .titleOnHome
 {
 	font-family: 'Vibur', cursive;

 	text-align: center;
	vertical-align: middle;

	margin-left:auto;
	margin-right:auto;	
	margin-top:4.5em;
	font-size: 5em;
	font-weight: bolder;
	color:black;
	
}

.Tibexav_menuClass ul
{
	list-style:none;
	display: flex;
	justify-content: center;
	padding-left:0;
}

#mainAccueil_Tibexav
{
	text-shadow: 2px 2px 2px #999999;
}



.titleOnPosts
{
	font-family: 'Vibur', cursive;
	width:57%;
	margin-left:auto;
	margin-right:auto;	
	margin-top:2em;
	font-size: 2.5em;
	font-weight: bolder;
	color:black;
	
}



.titleOnPosts a
{
	text-shadow: 2px 2px 2px #999999;
}

a
{
	color: inherit; 
	text-decoration: none;
}


.Tibexav_menuClass li
{
	margin : auto 20px auto 20px;
	font-family: 'Oswald', sans-serif;
}

.Tibexav_menuClass li:hover
{
	text-decoration: underline;
}

#social_Tibexav
{
	width:15%;
	float:right;
	margin-right:15%;
	margin-top:15%;
}


/* *********contact***************/

div .wpcf7
{
	font-family: 'Oswald', sans-serif;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	font-size:1.1em;
}

div .wpcf7 textarea
{
	width:80%;
}
div .wpcf7-submit
{
	width:20%;
	height:2.2em;
	float:right;
	margin-right:20%;
}


/* ***********************single *********************/

#TibeXav_MainSingle
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding:5%;
}


/************************REals*****************************/




#dv_reals_Tibexav
{
	font-family: 'Oswald', sans-serif;
	position:absolute;
	top:20%;
	left:25.75%;
	width:40%;
	display:grid;
	
	grid-template-rows:30%;	
	grid-template-columns:20% 80%;
	grid-column-gap:21.5%;
	grid-row-gap:6vh;
	
}


.photoReal
{
}


.cont_Tibexav
{
}


